.container{
    text-align: center;
}

.error{
    border: 1px rgb(189, 94, 94) solid;
    border-radius: 10px;
    background-color: rgb(189, 94, 94);
    font-size: 16px;
    padding: 10px 5px;
    color: white;
}
