.eye-solid.icon {
    color: #000;
    /* position: absolute; */
    margin-left: 3px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 70% 15%;
    border: solid 1px currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .eye-solid.icon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }

  .sad.icon {
    color: #fff;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
  
  .sad.icon:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
  
  .sad.icon:after {
    content: '';
    position: absolute;
    right: 3px;
    top: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
  
  .sad.icon i {
    position: absolute;
    left: 3px;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-bottom: solid 1px transparent;
    border-top: solid 1px currentColor;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
  
  
  
  